<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Wahlergebnisse 2017</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="/static/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="/static/node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <script type="text/javascript" src="/static/js/main_controller.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/app.css">
</head>

<body ng-app="elections-app">
  <div ng-controller="main-controller">
      <div class="header">
        <h1>Wahlergebnisse 2017</h1>
      </div>
  <div class="listsection regions">
    <h2>Bundesland</h2>
      <ul ng-model="provinces">
        <li ng-repeat="province in provinces track by $index"><a href="#" ng-click="displayCounties(province.p_id)">{{province.p_name}}</a></li>
      </ul>
  </div>
  <div class="listsection counties">
    <h2>Wahlkreis</h2>
    <input type="text" id="search-input" onkeyup="search()" placeholder="Nach Wahlkreis filtern.." title="Nach Wahlkreis filtern">
      <ul id="countylist" ng-model="counties">
        <li ng-repeat="county in counties track by $index"><a href="#" ng-click="displayVotes(county.c_id)">{{county.c_name}}</a></li>
      </ul>
  </div>
  <div class="chartsection table">
    <h2>Ergebnis</h2>
    <table ng-model="parties">
        <tr>
            <th>Partei</th>
            <th>Erststimme</th>
            <th>Zweitstimme</th>
        </tr>
        <tr ng-repeat="party in parties">
            <td>{{party.party_name}}</td>
            <td>{{party.perc_e}}%</td>
            <td>{{party.perc_z}}%</td>
        </tr>
    </table>
  </div>
  <div class="pie-chart">
    <canvas id="pie1" class="chart chart-pie"
      chart-data="votesInNumbers1" chart-labels="labels" chart-options="options">
    </canvas>
    <canvas id="pie2" class="chart chart-pie"
      chart-data="votesInNumbers2" chart-labels="labels" chart-options="options">
    </canvas>
  </div>
</div>
</body>
</html>
